:root{
  --bg:#0b0b0e;
  --card:#0f1114;
  --muted:#9aa0b4;
  --violet:#d60000;
  --accent:#860b0b;
  --glass: rgba(255,255,255,0.03);
  --radius:14px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #e7ecff;
}
*{box-sizing:border-box}
body{
  margin:0;
  background: linear-gradient(180deg,#050507 0%, #0b0b0e 60%);
  min-height:100vh;
  padding:28px;
}
.Name{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.Name H1{
  margin:0;
  font-size:35px;
  letter-spacing:0.4px;
  color: #860b0b;
  
}
.Name H2{
  font-style: italic;
  color: #d60000;
}
.testamento{
  border-radius:var(--radius);
  border: 1px solid #330101;
  padding: 10px;
  margin-top: 25px;
  width: 96%;
  margin-left: 2%;
}
.testamento H1{
  margin:0;
  font-size:35px;
  letter-spacing:0.4px;
  color: #860b0b;
  text-shadow: 1.5px 0px #d60000;
}
.testamento p{
  color:var(--muted);
}
.desc{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-top: 50px;
  align-items: start;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Amenaza{
  font-style: italic;
  color: #d60000;
}
.data {
  color: var(--muted);
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.02),
    rgba(255,255,255,0.01)
  );
  border-radius: var(--radius);
  padding: 20px;
  border: 1px solid #330101;
  height: fit-content;
  width: auto;
}
.data li{
  margin-left: 35px;
}
.COD{
  display:inline-block;
  margin-top:12px;
  background:linear-gradient(90deg,#7B2CBF,#671385);
  padding:10px 14px;
  border-radius:10px;
  color:#fff;
  text-decoration:none;
  font-weight:700;
  box-shadow:0 6px 18px rgba(103,19,133,0.18);
}
.locked{
  font-style: italic;
}
footer{
  font-size:13px; 
  color:var(--muted);
  align-content: center;
  border-top:1px dashed rgba(255,255,255,0.02); 
  padding-top:12px;
}
@media (max-width:1000px){
  .desc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}